{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <href="https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <title>Customize Perfume Selection</title>

    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'myapp/assets/css/feature.css' %}">

  </head>

  <body class="no-scrollbar">
    <div style="display: flex; justify-content:center; margin-top:1rem">
        <h2>Input</h2>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row" style="display: flex; justify-content: center; align-items: center;">
                <div class="col-sm-12 d-flex align-items-center m-2" style="display: flex; justify-content: center; align-items: center;">
                    <input class="m-1 search-input" type="search" placeholder="Find a perfume name, brand, notes or description" />
                    <button type="button" class="btn btn-dark">Search</button>
                </div>

                <div class="col-sm-12 mb-1" style="max-width:100vh; height:70vh; overflow-y:scroll;" id="scroll-style">
                    <div class="row g-0 grid-row">
                        {% for data in datas %}
                        <div class="card mt-1 mb-1 ml-1 mx-1 flip-card card-wrapper" onclick="processCardClick('{{ data.URL }}')">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <h1 style="visibility: hidden; font-size:0; ">{{ data.URL }}</h1>
                                    <img class="card-img-top" src="{{ data.Image }}" alt="{{ data.Perfume_Name }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ data.Perfume_Name }}</h5>
                                        <p class="card-text">{{ data.Brand }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>Tidak ada data parfum yang tersedia.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="pagination d-flex justify-content-center mt-3">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-custom">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">«</span>
                            </li>
                        {% endif %}
        
                        {% for num in elided_page_range %}
                            {% if num == page_obj.paginator.ELLIPSIS %}
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                            {% else %}
                                <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
        
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">»</span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            
            

        </div>


        <div class="col-12 col-md-6" id="insightDiv">
            <div class="row align-items-center">
                <div class="col-12 col-md-4" style="height:50vh; display: flex; align-items: center; justify-content: center;">
                    <img src="https://fimgs.net/mdimg/perfume/375x500.75064.jpg" alt="" style="width: 30vh;">
                </div>
                <div class="col-12 col-md-8" style="height:40vh; display:flex; align-items: center;" >
                    <div class="table-wrapper container mt-2 table-container" id="scroll-style" style="width:100%;">
                        
                        {% if numeric_df %}
                        <table class="table">
                            <tbody>
                                {% for col, val in numeric_df.0.items %}
                                {% if val > 0 %}
                                <tr>
                                    <td>{{ col }}</td>
                                    <td class="slider-container">
                                        <input 
                                            type="range" 
                                            min="0" 
                                            max="100" 
                                            value="{{ val|floatformat:0 }}" 
                                            class="form-range custom-slider" 
                                            id="slider{{ forloop.counter }}" 
                                            oninput="updateSlider({{ forloop.counter }})">
                                        <span id="sliderPercentage1" class="slider-percentage">{{ val|floatformat:2 }}%</span>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p>Click a perfume card to load data.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12" style="height:40vh; display:grid; align-items:center; justify-content:center;">
                <table class="table">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>Perfume_Name</td>
                      </tr>
                      <tr>
                        <td>Brand</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <td>Gender</td>
                        <td>the Bird</td>
                      </tr>
                      <tr>
                        <td>Description</td>
                        <td>the Bird</td>
                      </tr>
                    </tbody>
                  </table>

                  {% comment %} <button class="btn btn-dark shiny-button m-1 get-recommendations-button" onclick="scrollToTarget()" type="submit">Get Recommendations</button> {% endcomment %}
                  <span class="button-group">
                    <button class="btn btn-dark shiny-button m-1 get-recommendations-button" onclick="scrollToTarget()" type="submit">Get Recommendations</button>
                    <button class="btn btn-outline-dark m-1 cancel-button" type="button" onclick="window.location.href='{% url 'index' %}'">
                        Back
                    </button>
                </span>
            </div>

        </div>
    </div>

        <!-- Hasil -->
    <div id="targetDiv" class="result-section">
        <!-- Bagian Judul -->
        <div class="col-12">
            <h2 class="mt-5 mb-3">Result</h2>
        </div>

        <!-- Bagian Grid -->
        <div class="container mt-4 mb-4 result-grid" id="scroll-style">
            <div class="row g-0 grid-row">

            <!-- Card -->
            <div class="card mt-1 mb-1 ml-1 mx-1 flip-card card-wrapper" onclick="this.classList.toggle('flipped')">
                    <div class="flip-card-inner">
                        
                        <!-- Front -->
                        <div class="flip-card-front">
                            <img class="card-img-top" src="https://fimgs.net/mdimg/perfume/375x500.75064.jpg" >
                            <div class="card-body">
                                <h5 class="card-title">Card title Card title Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>

                        <!-- Back -->
                        <div class="flip-card-back">
                            <h5>More Info</h5>
                            <p>Details about this item.</p>
                        </div>

                    </div>
                </div>

                <div class="card mt-1 mb-1 ml-1 mx-1 flip-card card-wrapper" onclick="this.classList.toggle('flipped')">
                    <div class="flip-card-inner">
                        
                        <!-- Front -->
                        <div class="flip-card-front">
                            <img class="card-img-top" src="https://fimgs.net/mdimg/perfume/375x500.75064.jpg" >
                            <div class="card-body">
                                <h5 class="card-title">Card title Card title Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>

                        <!-- Back -->
                        <div class="flip-card-back">
                            <h5>More Info</h5>
                            <p>Details about this item.</p>
                        </div>

                    </div>
                </div>

                <div class="card mt-1 mb-1 ml-1 mx-1 flip-card card-wrapper" onclick="this.classList.toggle('flipped')">
                    <div class="flip-card-inner">
                        
                        <!-- Front -->
                        <div class="flip-card-front">
                            <img class="card-img-top" src="https://fimgs.net/mdimg/perfume/375x500.75064.jpg" >
                            <div class="card-body">
                                <h5 class="card-title">Card title Card title Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>

                        <!-- Back -->
                        <div class="flip-card-back">
                            <h5>More Info</h5>
                            <p>Details about this item.</p>
                        </div>

                    </div>
                </div>

                <div class="card mt-1 mb-1 ml-1 mx-1 flip-card card-wrapper" onclick="this.classList.toggle('flipped')">
                    <div class="flip-card-inner">
                        
                        <!-- Front -->
                        <div class="flip-card-front">
                            <img class="card-img-top" src="https://fimgs.net/mdimg/perfume/375x500.75064.jpg" >
                            <div class="card-body">
                                <h5 class="card-title">Card title Card title Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>

                        <!-- Back -->
                        <div class="flip-card-back">
                            <h5>More Info</h5>
                            <p>Details about this item.</p>
                        </div>

                    </div>
                </div>

                <div class="card mt-1 mb-1 ml-1 mx-1 flip-card card-wrapper" onclick="this.classList.toggle('flipped')">
                    <div class="flip-card-inner">
                        
                        <!-- Front -->
                        <div class="flip-card-front">
                            <img class="card-img-top" src="https://fimgs.net/mdimg/perfume/375x500.75064.jpg" >
                            <div class="card-body">
                                <h5 class="card-title">Card title Card title Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>

                        <!-- Back -->
                        <div class="flip-card-back">
                            <h5>More Info</h5>
                            <p>Details about this item.</p>
                        </div>

                    </div>
                </div>

                <div class="card mt-1 mb-1 ml-1 mx-1 flip-card card-wrapper" onclick="this.classList.toggle('flipped')">
                    <div class="flip-card-inner">
                        
                        <!-- Front -->
                        <div class="flip-card-front">
                            <img class="card-img-top" src="https://fimgs.net/mdimg/perfume/375x500.75064.jpg" >
                            <div class="card-body">
                                <h5 class="card-title">Card title Card title Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>

                        <!-- Back -->
                        <div class="flip-card-back">
                            <h5>More Info</h5>
                            <p>Details about this item.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="{% static 'myapp/assets/js/feature.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>

</html>